<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beam App</title>

    {{ stylesheet_tag('style') | safe }}

</head>
<body>
    {% include "navbar.html" %}

    <div class="container" id="content">
        {% block content %}{% endblock content %}
    </div>

    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>

    {{ javascript_tag('vendor') | safe }}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>
</html>